<%- include('partials/header'); -%>

    <div class="container col-6">
        <br>
        <h1>Users</h1>
        <hr>
    </div>



    <div class="container col-2 users-container">

        <br>
        <a href="#">First user</a>
        <a href="#">First user</a>
        <a href="#">First user</a>
    </div>


    <%- include('partials/footer'); -%>