<%- include('partials/header'); -%>

    <div class="container col-6">
        <br>
        <h1>Users</h1>
        <hr>
    </div>

    <div class="container col-2 users-container">

        <br>
        <% for(let i=0; i < userArrInEjs.length; i++)  { %>
            <a href="#">
                <%= userArrInEjs[i] %>
            </a>
            <% } %>
    </div>


    <%- include('partials/footer'); -%>